* {
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    padding: 0;
    position: relative; 
    }

body {
    min-height: 100%;
    margin-bottom: 5rem;
}
   
header {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
}

header p {
   margin-top: -0.5px;
}

#navbarNav {
    background-color: lavender;
    width: 100%;
}

#navbarNav a:hover {
    background-color: lavenderblush;
}

footer {
    background-color: lavender;
    bottom: 0;
    height: 2rem;
    position: fixed;
    text-align: center;
    width: 100%;
} 

/* About me */
.column {
    margin: auto;
    padding: 0rem 1rem;
    width: 100%;
}

.responsive {
    float: left;
    margin: 1rem;
    padding: 1rem;
}

/* Portfolio */
.responsive-img {
    float: left;
    height: auto;
    max-width: 100%;
    position: relative;
    vertical-align: middle;
    width: 9rem;
}

.link{
    display: inline-block;
    margin: 1.7rem 0rem;
    padding: 1.7rem 0rem;
}

/* Contact page */
.col-sm-6 {
    margin-bottom: 1rem;
}

section h3 {
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
}

@media screen and (max-width:320px) {
    .link{
        display: inline-block;
        margin: 0rem 1.75rem;
        padding: 0rem;
    }
}

@media screen and (max-width: 576px) {
    .navbar-toggler {
        background-color: lavender;
    }
    .responsive {
        display: block;
        height: auto;
        margin: 0rem 0rem 2rem 0rem;
        padding: 0rem;
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .column p {
        margin: 1rem;
        padding: 1rem;
    }
