* {
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    padding: 0;
    position: relative; 
    }
    
body {
    margin-bottom: 4rem;
}

header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shadows Into Light', cursive;
}

header p {
   margin-top: -0.5px;
}
#navbarNav {
    background-color: lavender;
    width: 100%;
}

#navbarNav a:hover {
    background-color: lavenderblush;
}

.column {
    width: 100%;
    padding-right: 1rem;
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto;
}


img {
    max-width: 100%;
    width: 9rem;
    height: auto;
    padding: 1rem;
    position: relative;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0.75;
    text-align: center;
    background-color: lavender;
} 


/* Contact page */
.col-sm-6 {
    margin-bottom: 1rem;
}

section h3 {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
}

@media screen and (max-width: 576px) {
    .navbar-toggler {
        background-color: lavender;
    }
}

@media screen and (min-width: 1024px) {
    * {
        font-size: 1.5rem;
    }
}
